.main-edit{
    width: 100%;
    margin: 30px auto;
}

.main-edit h2{
    text-align: center;
    margin-bottom: 20px;
}

.main-edit label,
.main-edit input{
    width: 100%;
}

.main-edit label{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}

.main-edit input{
    padding: 9px;
    border: 1px solid gray;
    border-radius: 8px;
    margin-bottom: 16px;
}

.main-edit button{
    display: block;
    width: 230px;
    margin: 25px auto;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.main-edit button:hover{
    background: rgb(8, 8, 8);
}

.main-edit > div{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.main-edit > div > div{
    flex-grow: 1;
}